<!DOCTYPE html>
<html>
    <head>
        <title>TBA Slack</title>
    </head>
    <body>
        <a href="https://slack.com/oauth/v2/authorize?client_id=<%- client_id %>&scope=commands%20chat:write%20channels:join&redirect_uri=<%- redirect_uri %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </body>
</html>