<!DOCTYPE html>
<html>

<head>
    <title>FRCBot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div
        style="background: url('/img/header.jpg') no-repeat;background-size:cover;width:100%;padding:30px 0;color:white;margin-bottom:20px">
        <h1 style="font-size:50px;">Privacy</h1>
    </div>

    <h2>What we store</h2>
    <p>The data we collect includes your team number, events you're subscribed to, and users who have visited the App
        Home. User emails are never stored.<br />Your workspace domain and User ID will be submitted to us if you send
        feedback through <code>/frc feedback</code>.</p>

    <h2>What we do with that data</h2>
    <p>Your data is only used internally. It's never, ever given to third parties.</p>

    <h2>What we have access to</h2>
    <p>We <b>do not</b> have access to workspace names and domains, user names and emails, workspace settings, and channel names. Again, <b>we only collect data you explicitly give us, and is necessary for FRCBot to run</b>.</p>

    <h2>App Home stuff</h2>
    <p>When a user clicks into the App Home for the first time, we'll send them a welcome message. We then store their
        User ID to make sure they don't get the same notification again. We can't see the user's name or email.</p>

    <h2>Manual Viewing of User Data</h2>
    <p>Occasionally, an admin may manually view the database to make changes, view analytics, or check for bugs. Our database never stores sensitive user data (except for OAuth tokens). Database access will never be given to anyone but core developers.</p>

    <a href="/">&laquo; Go back</a>

    <div id="footer">
        Created by <a href="https://calebdenio.me">Caleb Denio</a> from <a href="https://deniosoftware.com">Denio
            Software</a>. &middot; <a href="/privacy">Privacy</a> &middot; <a href="/support">Submit feedback</a>
        <br /><a href="https://github.com/deniosoftware/frcbot">Star on GitHub</a>
    </div>
</body>

</html>