*{
    font-family: "Lato", sans-serif;

    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    text-align: center;
}

#header{
    color: white;

    background-image: url('/img/header.jpg');
    background-size: cover;
    background-position: center center;

    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header h1{
    font-size: 75px;
}

#footer{
    padding: 20px 0;
    background-color: rgb(240, 240, 240);
}

code{
    font-family: monospace;
    background-color: rgb(230, 230, 230);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: inherit;
}